.BrowserContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./background.jpg");
  height: 100vh;
}

.UnsplashContainer {
  color: #8E6155;
  margin-left: 15%;
  margin-bottom: 15%;
  width: 80%;
}

.UnsplashHeader {
  font-size: 3em;
}

p {
  font-size: 1.25em;
}

@media (max-width: 600px) {
  .UnsplashContainer {
    align-self: flex-start;
    margin-top: 30%;
    color:peru;
  }
}