.BrowserInput {
  width: 65vw;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.RelatedSearchesContainer {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 50px;
  width: 65vw;
  position: absolute;
}

div.RelatedSearchesContainer {
  position: relative;
}

.RelatedSearch {
  font-weight: 600;
  text-transform: uppercase;
  border: 0.5px solid grey;
  align-self: flex-start;
  font-size: 20px;
  margin: 10px;
  padding: 8px 50px;
  border-radius: 5px;
  max-height: 26px;
  background-color: white;
  opacity: 0.7;
}

.RelatedSearch:hover {
  opacity: 1;
  cursor: pointer;
}

.HiddenHint {
  display: hidden;
}

@media (max-width: 600px) {
  .BrowserInput {
    font-size: 13px;
  }

  .HintsContainer {
    max-height: 30vh;
  }

  .Hint {
    font-size: 16px;
  }

  .RelatedSearchesContainer {
    display: none;
  }
}