.BrowserInput {
  width: 65vw;
  height: 40px;
  font-size: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.HintsContainer {
  overflow-y: scroll;
  position: absolute;
  width: 65vw;  
  opacity: 0.9;
  background-color: white;
  color: black;
  border-radius: 5px;
  padding: 5px;
  margin-top: 10px;
  max-height: 30%;
}

.Hint {
  outline: none;
  cursor: pointer;
  padding-top: 5px;
  border-top: 1px solid black;
  height: fit-content;
}

@media (max-width: 600px) {
  .BrowserInput {
    font-size: 16px;
  }

  .HintsContainer {
    max-height: 30vh;
  }

  .Hint {
    font-size: 16px;
  }
}